export(Gelman.Rubin)
export(MCtestar)
export(ar)
export(eval_f0)
export(mylapply)
export(plotknnde)
export(rw.Metropolis)
export(rwMetropolis)
export(solve)
importFrom(FNN,knnx.dist)
importFrom(graphics,persp)
importFrom(stats,pt)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,uniroot)
importFrom(stats,var)
